@import url("https://fonts.googleapis.com/css2?family=Jua&family=Black+Han+Sans&display=swap");

html {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: Inspire-KO, sans-serif;
  color: white;
  background: rgb(43, 48, 65);
  background: radial-gradient(
    circle,
    rgba(43, 48, 65, 1) 25%,
    rgba(6, 8, 14, 1) 75%
  );
}

h1,
h2,
h3 {
  font-weight: bolder;
  margin: 0;
}

h4 {
  font-weight: bolder;
  font-size: medium;
  text-shadow: 0px 2px 1px black;
  margin: 0;
}

section {
  padding: 5.6vw;
}

ul {
  list-style: none;
  padding-left: 0px;
}

p {
  display: block;
  margin: 1em 0 1em 0;
}

.navbar {
  display: flex;
  justify-content: center;
}

.search-container {
  padding: 0 5.6vw;
  display: flex;
  justify-content: end;
  width: 100%;
}

.menus-container {
  padding: 0 5.6vw;
}

.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double #ebebeb;
}

.menus button {
  border: none;
  background: none;
  margin: 14px;
  color: white;
  font-family: "Jua", sans-serif;
  font-size: larger;
  border-radius: 5%;
}

.menus button:hover {
  background-color: #364154;
}

.movie_container {
  padding: 1rem 0;
}

.title {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

.movie-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: #22232e;
  position: relative;
  overflow: hidden;
}
.movie:hover {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  transform: scale(1.05, 1.05);
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px white;
  transition: 0.4s;
}

.movie-img {
  width: 100%;
  height: 430px;
}

.movie-info {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
  height: 100px;
}

.movie-info h4 {
  margin-top: 0;
  font-weight: bolder;
}

.movie-info span {
  color: white;
  font-weight: bold;
  background-color: #1b1a2a;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.movie-info span.green {
  color: greenyellow;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 1rem;
  color: black;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
  font-weight: bolder;
}

.movie:hover .overview {
  transform: translateY(0);
}

.btn {
  --bs-btn-padding-x: 0.55rem;
  --bs-btn-padding-y: 0.3rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 14px;
}

.search-items {
  border-radius: 5px;
  height: 35px;
  padding-left: 10px;
}

.page-link {
  color: #2f355d;
}

.active > .page-link,
.page-link.active {
  background-color: #22232e;
  border-color: #22232e;
}

.pagination {
  flex-wrap: wrap;
  margin-bottom: 0;
  padding: 0 5.2vw;
}

.accordion-container {
  background-color: #0e0b14;
}

.accordion {
  --bs-accordion-btn-bg: #13151d;
  --bs-accordion-active-bg: #13151d;
  --bs-accordion-active-color: white;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-bg: #13151d;
  --bs-accordion-color: white;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-font {
  color: #cecece;
  font-weight: bold;
}

.footer_container {
  padding-top: 0;
  background-color: #0e0b14;
}

.footer_line {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.footer_line_con {
  text-align: center;
}

.footer_line_first_con {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.TMDb-item {
  font-weight: bolder;
}

@media all and (min-width: 993px) and (max-width: 1280px) {
}

@media (max-width: 992px) {
  .footer_line_first_con {
    display: block;
    width: 80%;
  }
  .footer_line {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
  .footer_line li {
    font-size: 0.8rem;
  }
  .footer-column-box {
    padding: 0px 2px;
    width: 25%;
  }
  .line_con {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 430px) {
  .streaming_container {
    padding-top: 100px;
  }
  .footer_line_first_con {
    display: block;
    width: 100%;
  }
}

.movietitlebox .sortMovies {
  padding-left: 8vw;
  padding-right: 8vw;
  display: flex;
  justify-content: center;
}

.sortMovies,
button {
  border: none;
  background: none;
  color: white;
  font-family: "Jua", sans-serif;
  font-size: larger;
  border-radius: 5%;
  font-size: 18px;
  gap: 15px;
}
