html {
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
  
  body {
    margin: 0;
    font-family: Inspire-KO, sans-serif;
    color: white;
    background-color:#040714;
  }
  
  h1,h2,h3 {
    font-weight : bolder;
    margin: 0;
  }
  
  h4 {
    font-weight: bolder;
    font-size: medium;
    text-shadow: 0px 2px 1px black;
    margin: 0;
  }
  
  section {
    padding: 5.6vw;
  }
  
  ul{
    list-style:none;
    padding-left:0px;
  }
  
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;

  }

  .search-container {
    padding-left: 5.6vw;
    padding-right: 5.6vw;
    display: flex;
    justify-content: end;
    width: 100%;
  }

  .menus-container {
    padding-left: 5.6vw;
    padding-right: 5.6vw;
  }
  .menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double #ebebeb;
  }
  
  .menus button {
    border: none;
    background: none;
    margin: 14px;
    color: #cecece;
    font-weight: bolder;
  }
  
  .menus button:hover {
    background-color: #616DA2
  }

  .movie_container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  


  .accordion {
    --bs-accordion-btn-bg: #13151d; 
    --bs-accordion-active-bg: #13151d; 
    --bs-accordion-active-color: white
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-bg: #13151d; 
    --bs-accordion-color:  white;
  }
  
  
  .accordion-button:not(.collapsed) {
    box-shadow: none;
  }
  
  .acceldjs {
    color: #cecece;
    font-weight: bold;
  }
  
  .footer_container {
    padding-top: 0;
  }
  
  .footer_line {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  
  .footer_line_con {
    text-align: center;
  
  }
  
  .footer_line_first_con {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  
  @media (max-width:992px) {

    .footer_line_first_con {
      display: block;
      width: 80%;
    }
    .footer_line {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 10px;
    }
    .footer_line li{
      font-size: 0.8rem;
    }
    .footer-column-box {
      padding: 0px 2px;
      width: 25%;
    }
    .line_con {
      display: flex;
      justify-content: center;
    }
  
  }
  
  @media (max-width:768px) {
    
  }

  
  @media (max-width:430px) {
    .streaming_container {
      padding-top: 100px;
    }
    .footer_line_first_con {
      display: block;
      width: 100%;
    }
  
  }
  
  @media all and (min-width: 993px) and (max-width:1280px) {
    
  }



.title {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 30px
}

  .movie-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .movie {
    width: 300px;
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0,1);
    background-color: #2F355D;
    position: relative;
    overflow: hidden;
  }
  .movie-img {
    width: 100%;
    height: 430px;
  }
 

  .movie-info {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    height: 100px;
  }

  .movie-info h4 {
    margin-top: 0;
    font-weight: bolder;
  }

  .movie-info span {
    color:  white;
    font-weight: bold;
    background-color: #1D2244;
    padding: 0.25rem 0.5rem;
    border-radius: 5px; 
  }

  .movie-info span.green{
    color: greenyellow;
  }
  .movie-info span.orange{
    color: orange;
  }
  .movie-info span.red{
    color: red;
  }

  .overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 1rem;
    color: black;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
  }

  .movie:hover .overview {
    transform: translateY(0);
  }


  .btn {
    --bs-btn-padding-x: 0.55rem;
    --bs-btn-padding-y: 0.300rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 14px;
  }

  .search-items {
    border-radius: 5px;
    height: 35px;
    padding-left: 10px;
  }